* {
    margin: 0px;
}

html {
    background-color: #2d2d2d;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*NAV ALKAA*/
nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    padding-bottom: 0px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav ul {
    background-image: linear-gradient(#535353, #151515);
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    border-style: inherit;
    box-shadow: 2.5px 2.5px 2.5px 2.5px #1f1f1f;

}

nav ul li {
   
    color: #586994;
}

nav ul li img {
    max-width: 15%;
    max-height: 15%;
}

nav ul li a {
    text-decoration: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    padding-right: 10px;
    color: #FFFFFF;
}

/*HOVERI ALKAA TÄSSÄNÄINNIIN*/

nav ul li a::before,
nav ul li a::after { 
content: '';
position: absolute;
width: 100%;
left: 0;
}

nav ul li a::before {
    background-color: #FF8000;
    height: 0px; /*ALAVIIVA*/
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}

nav ul li a::after {
content: attr(data-replace);
top: 0;
transform-origin: 100% 50%;
transform: translate3d(200%, 0, 0);
transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
color: #FF8000
}

nav ul li a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

nav ul li a:hover::after {
    transform: translate3d(0, 0, 0,);
}

nav ul li a span {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.76, 0, 0.24, 1);
}

nav ul li a:hover span {
    transform: translate3d(-200%, 0, 0);
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    transform: translate3d(0, 0, 0);
}



nav ul li a:hover::before,
nav ul li a:focus::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

/* HOVERI PÄÄTTYY TÄSSÄ NÄINNNIIN*/


/*NAV PÄÄTTYY*/

.eka {
    
    background-image: linear-gradient(#dfdfdf, #aeaeae);
    list-style: none;
    padding: 10px 50px 10px 50px;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    border-style: inherit;
    box-shadow: 5px 5px 15px 5px #000000;
   /* max-width: 800px; /* TÄLLÄ SÄÄDETÄÄN SISÄLLÖN LEVEYTTÄ*/
  /*  margin-left: 18%; /* TÄLLÄ MYÖS*/ 
}



.eka h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
    margin-bottom: 15px;
    margin-top: 25px;
    text-shadow: #2d2d2d;
}

#isologo {
 max-width: 20%;
 max-height: 20%;
 
}



.eka h2 {
    font-weight: lighter;
    text-align: left;
    margin-left: 25px;
    
}

.ekateksti {
margin: 0 auto;
width: 68%;
margin-bottom: 20px;
}

.ekateksti img {
max-width: 15%;
max-height: 15%;
margin: 25px;
transition: .8s;
vertical-align: middle;
}

.ekateksti img:hover {
    max-width: 20%;
    max-height: 20%;
    margin: 25px;
}

.recent img {
    max-width: 20%;
    max-height: 20%;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 5px 5px #0000007c;
    transition: .8s;
    vertical-align: middle;
}

.recent img:hover {
    max-width: 25%;
    max-height: 25%;
    cursor: pointer;

}

footer {
    color: white;
    background-color: #000000;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer img {
    
    max-width: 10%;
    max-height: 10%;
    vertical-align: middle;
}
